:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

[data-bs-theme="dark"] .card-footer {
  background-color: #303439 !important;
  border-color: var(--bs-border-color) !important;
}

[data-bs-theme="dark"] .github {
  background-color: transparent;
  border-color: white !important;
  color: white;
}

[data-bs-theme="dark"] .github:hover {
  background-color: white;
  color: black;
  transition: .4s;
}

.s {
  border-radius: 0 6px 6px 0 !important;
  border: 1px solid rgb(83, 83, 83) !important;
  border-left: none;
  min-width: 360px;
}

.d {
  border: 1px solid rgb(83, 83, 83);
  border-radius: 6px 0 0 6px !important;
}


@media (prefers-color-scheme: light) {
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  .s {
  border: 1px solid rgb(83, 83, 83) !important;
}
}
